@tailwind base;
@tailwind components;
@tailwind utilities;


#input1::placeholder {
    color: #CD1818; /* Replace with your preferred color */
    font-size: 80%;
    font-family: 'spectral'; /* Replace with your preferred font size */
  }
  #input2::placeholder {
    color: grey; /* Replace with your preferred color */
    font-size: 15px;
    font-family: "Spectral"; /* Replace with your preferred font size */
    text-align: initia;
  } 
.discover{
            font-family: "Spectral";
            font-weight: 900;
            color:#4E3636;
} 




  