@tailwind base;
@tailwind components;
@tailwind utilities;


input::placeholder {
    color: #CD1818; /* Replace with your preferred color */
    font-size: 20px; /* Replace with your preferred font size */
  }
.discover{
            font-family: "Spectral";
            font-size: 24px;
            font-weight: 900;
            color:#4E3636;
} 
  